body {
  background-image: url("https://previews.123rf.com/images/jevee/jevee1606/jevee160600111/58015576-pastel-drawn-watercolor-background-in-pink-colors-template-for-letter-or-greeting-card-a4-size-forma.jpg");
  font-family: Arial, Calibri, Sans-serif;
  margin: 5% 10%
}

h1 {
  text-align: center; line-height: 0
}

h6 {
  text-align: center; font-size: 10px
}

.exp-header {
  text-align: center; 
}


